<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="height: 100vh;">
	<div class="container text-center d-flex flex-column justify-content-center h-100">
		<div class="row pb-3">
			<div class="col-sm bg-primary">
				Hello
			</div>
			<div class="col-sm bg-secondary">
				I'm Angelo
			</div>
		</div>
		<div>
			<img src="https://fall22proj.s3.amazonaws.com/297625285_172038848661455_8690731694904453048_n.jpeg" alt="me">
		</div>
	</div>
</body>
</html>